body {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

nav {
    display: flex;

    justify-content: space-around;
}

nav button{
    margin: 0px 20px;
    padding: 0px 30px;
    font-size: 40px;
    border: none;
    border-radius: 5px;
    background-color: coral;
    color: darkred;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

nav button:hover{
    transform: scale(1.2);
    box-shadow: 0 0 20px green;
    animation: flames 0.15s infinite alternate;
}